.body {
    

    width: 100%;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button,
  input {
    border: none;
    outline: none;
  }
  
  /******
        FORM
  *******/
  .signup {
    background-color: white;
    width: 110%;
    max-width: 500px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -9%;
  
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .signup1 {
    background-color: white;
    width: 160%;
    max-width: 500px;
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -90%;
    margin-top: 10%;
    border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  h1 {
    text-align: center;
    color:  #1A8EFD;
    ;
  }
  h2 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: lighter;
  
    margin-bottom: 40px;
  }
  
  h2 span {
    text-decoration: underline;
    cursor: pointer;
    color:#1A8EFD;
    ;
  }
  
  /*  Field */
  .signup__field {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }
  
  .signup__field:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 0px;
    height: 2px;
    background:  #1A8EFD;
    ;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease;
  }
  
  .signup__field:hover:before {
    width: 100%;
  }
  
  /*  Input */
  .signup__input {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    padding: 10px 2px 0;
    border-bottom: 2px solid #e0e0e0;
  }
  
  /*  Label */
  .signup__label {
    color: #bdbdbd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }
  
  .signup_input:focus + .signup_label,
  .signup_input:valid + .signup_label {
    top: 0;
    font-size: 1rem;
    background-color: white;
  }
  
  /*  Button */
  .bt {
    background: #070A52;
    ;
    color: white;
    padding: 12px 0;
    font-size: 1.2rem;
    /* border-radius: 25px; */
    cursor: pointer;
  }
  
  .bt:hover {
    background:  #1A8EFD;
    ;
  }


